.list{overflow: scroll;padding: 4px;height: 120px;}
.xtra-card{display:inline-flex; justify-content: space-between;margin-bottom: 20px;}
.user-card{float: right;border: 1px;border-color: whitesmoke;box-shadow: 0 1px 4px #333;padding: 10px;}
.nav-card{float:left;}
.nav-card ul {list-style: none; padding:10px;  margin:0;}
.active-nav{font-weight: bold;text-decoration: underline;}
.active-nav:before{content: ">> "}
th:first-child {
    width:4%;
    padding-left: 2px;
    padding-right: 2px;
}